{% extends "base_generic.html" %}

{% block content %}

	{% if form.errors %}
		<p>username/password don't match. try again</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>you dont have access to this page</p>
		{% else %}
			<p>login to be able to view your page</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td> {{form.username.label_tag}} </td>
				<td> {{form.username}} </td>
			</tr>
			
			<tr>
				<td> {{form.password.label_tag}} </td>
				<td> {{form.password}} </td>
			</tr>
		</table>
		
		<input type="submit" value="login"/>
		<input type="hidden" name="name" value="{{next}}"/>
	</form>

	<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

{% endblock %}